body {
  padding: 10px;
  font-family: sans-serif;
}

img {
	width: 100%;
}

.button-spacing {
	padding: 1em;
}

#dislikeText {
	margin: 0.5em -1em 0 -1em;
}

#likeText {
	margin: 0.5em -1em 0 -1em;
}

#edit, .editing {
	background-color: transparent;
	border: none;
}

#edit:hover, .editing:hover {
	cursor: pointer;
}

button#edit:focus, button.editing:focus {
	outline: none;
}